@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-manrope;
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #695a4d;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #5f5144;
}
